extends layout

block content
    h1= title

    img.usher-img(src="/images/usherbackground.png")

    h2 #[a(href="/qrcode")  Login]

    p (view source code #[a(target="_blank", href="https://github.com/zimeibian/JavaScriptUsherAPIsample") on GitHub])
